* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans';
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg-pattern-top.svg'),
    url('./assets/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 15em left -15em, top 18em right -17em;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .wrapper {
    background-position: bottom 20em left -42em, top 15em right -40em;
  }
}
